.login-form {
  width: 340px;
  margin: 50px auto;
  font-size: 15px;
}

.login-form form {
  margin-bottom: 15px;
  background: #f7f7f7;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 30px;
}

.login-form h2 {
  margin: 0 0 15px;
}

.form-control, .btn {
  min-height: 38px;
  border-radius: 2px;
}

.btn {        
  font-size: 15px;
  font-weight: bold;
}

nav .navbar-brand
{
    /* size for brand */
    font-size: large;
    padding: 20px;
}

main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

main
{
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
    margin: 10px;
    cursor: pointer;
    vertical-align: baseline;
}

.limiter {
    width: 100%;
    margin: 0 auto;
}
  
.container-table100 {
  width: 100%;
  min-height: 60vh;
  background: #ffffff;
  
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 33px 30px;
}

.navbar-gray {
  background-color: #f7f7f7;
}

.myBtn {
  margin: .5em;
  padding: 10px 40px;
  border: none;
  cursor: pointer; /* #e5c5b1 */
  background-color: #eb7163;
  font-weight: bold;
  font-size: 12px;
  color: white;
  text-transform: uppercase;
}

.sp {
  font-weight: bold;
  font-size: 16px;
}

input {
  margin: 20px;
}

.mat-elevation-z1 {
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
}

.wrap-table100 {
  width: 1170px;
}

h2 {
  padding-bottom: 30px;
}

table {
  border-spacing: 1;
  border-radius: 10px;
  border-collapse: collapse;
  background: #f5f5f5;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

table * {
  position: relative;
}
table td, table th {
  padding-left: 8px;
  font-weight: bold;
}
table thead tr {
  height: 60px;
  background: #eb7163;
}
table tbody tr {
  height: 50px;
}
table tbody tr:last-child {
  border: 0;
}
table td, table th {
  text-align: left;
}
table td.l, table th.l {
  text-align: right;
}
table td.c, table th.c {
  text-align: center;
}
table td.r, table th.r {
  text-align: center;
}


.table100-head th{
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: #fff;
  line-height: 1.2;
  font-weight: 700;
}

tbody tr:nth-child(even) {
  background-color: #f5f5f5;
}

tbody tr {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color: #000000;
  line-height: 1.2;
  font-weight: unset;
}

.column1 {
  /*width: 260px;*/
  padding-left: 40px;
}

/* Animaciones */

@keyframes fadeInUp {
    from {
        transform: translate3d(0,20px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

.animated {
    animation-duration: 0.2s;
    animation-fill-mode: both;
    -webkit-animation-duration: 0.2s;
    -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
    opacity: 0
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}

/* Seleccion de asientos */

.row {
  margin: 20px;
  display: flex;
}

.seat {
  font-weight: bold;
  flex: 0;
  padding: 10px 20px;
  border: 2px solid black;
  cursor: pointer;
  margin-right: 20px;
  transition-duration: 0.2s;
}

.seat:hover {
  border: 2px solid green;
}

#selected {
  font-weight: bold;
  font-size: 24px;
}

