{% extends "layout.html" %}

{% block title %}
    Resultados
{% endblock %}

{% block main %}
    <form action="/search" method="post" class="animated animatedFadeInUp fadeInUp">
        <div class="form-group">
            <h1>Buscar pelicula</h1>
            <input autocomplete="off" autofocus class="form-control" name="title" placeholder="Titulo" type="text">
        </div>
        <button class="myBtn2 rounded" type="submit">Buscar</button>
    </form>
    <h2>No se encontraron peliculas con nombre "{{title}}"</h2>
{% endblock %}