{% extends "layout.html" %}

{% block title %}
    Buscar pelicula
{% endblock %}

{% block main %}
    {% if error %}
        <h3>{{error}}</h3>
    {% endif %}
    {% if results %}
        {% for result in results %}
            <a href="{{ url_for('movie', id=result[0]) }}"><img src="/static/images/posters/{{result[2]}}" alt="{{result[1]}}" width="267" height="400"></a>
            <h2>{{result[1]}}</h2>
        {% endfor %}
    {% else %}
        <h1>Buscar Pelicula</h1>
        <form action="/search" class="animated animatedFadeInUp fadeInUp">
                <input type="radio" id="actor" name="filter" value="actor" checked="checked">
                <label class="sp" for="actor">Buscar por nombre de actor</label>
                <input type="radio" id="director" name="filter" value="director">
                <label class="sp" for="director">Buscar por nombre de director</label>
                <input type="radio" id="pelicula" name="filter" value="pelicula">
                <label class="sp" for="pelicula">Buscar por nombre de pelicula</label>
                <input autocomplete="off" autofocus class="form-control" name="query" placeholder="Nombre" type="text" required>
        </form>
    {% endif %}
{% endblock %}